.validMondai {
    color: #036fab !important;
    border-color: #036fab !important;
}

.invalidMondai {
    color: #D20005 !important;
    border-color: #D20005 !important;
}

.kanjiTest {
    padding: 0 !important;
    text-align: center !important;
}

.rei {
    font-weight: bold !important;
    font-style: italic !important;
}

.kanjiPanel {
    font-size: 17px !important;
    border: 0;
}
.listUnit.ui-state-active {
    text-decoration: line-through !important;
}